
<h2>Enter the address you would like to save</h2>
<br>
<form action= "/new" method="post">
  <label for="title">
    Title:
    <input type="text" name="title">
  </label><label for="url">
    URL:
    <input type="text" name="url">
  </label>

   <input type="submit" value="Save">
</form>

<br>
<ul>
  <% @bookmarks.each do |bookmark| %>
    <li><%= bookmark %></li>
  <% end %>
</ul>
